In [39]:
import pandas as pd

In [40]:
csv_file = "Resources/Crash2.csv"
crash_df = pd.read_csv(csv_file)
crash_df

,crash_id,lat_long,date_time_id,description_id,vehicles_id,casualties_id
0,SA2012-1-21/08/2019,"(-34.914968707994774, 138.62326191400015)",2012-1--7-16,0,1c1b,0c
1,SA2012-2-21/08/2019,"(-34.945411892314496, 138.61069073873753)",2012-1--7-9,1,2c,0c
2,SA2012-3-21/08/2019,"(-35.348782706688546, 138.4547384995269)",2012-1--3-11,2,2c1i,0c
3,SA2012-4-21/08/2019,"(-34.91089013663556, 138.56464045685533)",2012-1--3-10,3,2w,0c
4,SA2012-5-21/08/2019,"(-34.90523508247097, 138.57241145966046)",2012-1--3-15,4,1c1w,0c
...,...,...,...,...,...,...
1519450,ACT1191639,"('-35.322394827659075', '149.122591278035')",2018-9-3-1-18,1519450,NaN,NaN
1519451,ACT1179671,"('-35.257719368849614', '149.09035073772142')",2018-3-20-2-17,1519451,NaN,NaN
1519452,ACT1031425,"('-35.18637928948423', '149.1191748900857')",2012-3-27-2-15,1519452,NaN,NaN
1519453,ACT1098457,"('-35.352057245119155', '149.0852084486848')",2014-11-11-2-15,1519453,NaN,NaN
1519454,ACT1140023,"('-35.263290412497', '149.14034360775764')",2016-7-14-4-10,1519454,NaN,NaN

In [41]:
csv_file = "Resources/Description.csv"
description_df = pd.read_csv(csv_file)
description_df.head()

,Unnamed: 0,description_id,severity,speed_limit,midblock,intersection,road_position_horizontal,road_position_vertical,road_sealed,road_wet,weather,crash_type,lighting,traffic_controls,drugs_alcohol,DCA_code,comment
0,0,0,property_damage,60,True,False,straight,level,True,False,fine,Right Angle,daylight,none,NaN,NaN,NaN
1,1,1,property_damage,40,True,False,straight,level,True,False,fine,Hit Parked Vehicle,daylight,none,NaN,NaN,NaN
2,2,2,property_damage,100,True,False,straight,slope,True,False,fine,Other,daylight,none,NaN,NaN,NaN
3,3,3,property_damage,60,False,True,straight,level,True,False,fine,Rear End,daylight,stop_sign,NaN,NaN,NaN
4,4,4,property_damage,60,False,True,straight,level,True,False,fine,Rear End,daylight,traffic_lights,NaN,NaN,NaN

In [42]:
csv_file = "Resources/Casualties.csv"
casualties_df = pd.read_csv(csv_file)
casualties_df.head()

,Unnamed: 0,casualties_id,casualties,fatalities,serious_injuries,minor_injuries
0,0,0c,0.0,0.0,0.0,0.0
1,16,1c1m,1.0,0.0,0.0,1.0
2,57,2c2m,2.0,0.0,0.0,2.0
3,270,1c1s,1.0,0.0,1.0,0.0
4,573,1c1f,1.0,1.0,0.0,0.0

In [43]:
csv_file = "Resources/Location2.csv"
location_df = pd.read_csv(csv_file)
location_df.head()

,lat_long,latitude,longitude,country,state,local_government_area,statistical_area,suburb
0,"(-34.914968707994774, 138.62326191400015)",-34.914969,138.623262,AU,SA,"CC OF NORWOOD,PAYNEHAM & ST PETERS",NaN,STEPNEY
1,"(-34.945411892314496, 138.61069073873753)",-34.945412,138.610691,AU,SA,CITY OF UNLEY,NaN,PARKSIDE
2,"(-35.348782706688546, 138.4547384995269)",-35.348783,138.454738,AU,SA,CITY OF ONKAPARINGA,NaN,SELLICKS BEACH
3,"(-34.91089013663556, 138.56464045685533)",-34.910890,138.564640,AU,SA,CITY OF CHARLES STURT,NaN,HINDMARSH
4,"(-34.90523508247097, 138.57241145966046)",-34.905235,138.572411,AU,SA,CITY OF CHARLES STURT,NaN,HINDMARSH

In [44]:
csv_file = "Resources/Vehicles.csv"
vehicles_df = pd.read_csv(csv_file)
vehicles_df.head()

,Unnamed: 0,vehicles_id,animals,car_sedan,car_utility,car_van,car_4x4,car_station_wagon,motor_cycle,truck_small,truck_large,bus,taxi,bicycle,scooter,pedestrian,inanimate,train,tram,vehicle_other
0,0,1c1b,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2c,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2c1i,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,2w,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1c1w,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
csv_file = "Resources/DateTime.csv"
datetime_df = pd.read_csv(csv_file)
datetime_df.max()

Unnamed: 0           1519432
date_time_id    2019-9-9-1-9
year                    2019
month                     12
day_of_week                7
day_of_month              31
hour                      23
approximate             True
dtype: object

In [46]:
clean_datetime_df = datetime_df.loc[(datetime_df["year"]>2014)]
clean_datetime_df

,Unnamed: 0,date_time_id,year,month,day_of_week,day_of_month,hour,approximate
5650,55666,2015-1--3-13,2015,1.0,3.0,NaN,13.0,True
5651,55667,2015-2--2-15,2015,2.0,2.0,NaN,15.0,True
5652,55668,2015-3--2-13,2015,3.0,2.0,NaN,13.0,True
5653,55669,2015-1--5-11,2015,1.0,5.0,NaN,11.0,True
5654,55670,2015-1--7-18,2015,1.0,7.0,NaN,18.0,True
...,...,...,...,...,...,...,...,...
127494,1518983,2016-6-6-1-3,2016,6.0,1.0,6.0,3.0,False
127497,1519142,2017-9-1-5-20,2017,9.0,5.0,1.0,20.0,False
127498,1519163,2019-4-30-2-4,2019,4.0,2.0,30.0,4.0,False
127500,1519218,2019-5-2-4-22,2019,5.0,4.0,2.0,22.0,False
127504,1519432,2017-8-6-7-23,2017,8.0,7.0,6.0,23.0,False

In [47]:
clean_location_df = location_df.loc[(location_df["state"]=="WA")]
clean_location_df

,lat_long,latitude,longitude,country,state,local_government_area,statistical_area,suburb
787383,"(-21.861545, 115.686308)",-21.861545,115.686308,AU,WA,NaN,NaN,NaN
787384,"(-31.993822, 115.912986)",-31.993822,115.912986,AU,WA,NaN,NaN,NaN
787385,"(-32.092824, 115.849329)",-32.092824,115.849329,AU,WA,NaN,NaN,NaN
787386,"(-31.974316, 115.965999)",-31.974316,115.965999,AU,WA,NaN,NaN,NaN
787387,"(-31.903081, 115.809726)",-31.903081,115.809726,AU,WA,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
860946,"(-31.752308, 115.767365)",-31.752308,115.767365,AU,WA,NaN,NaN,NaN
860947,"(-31.934415, 115.883382)",-31.934415,115.883382,AU,WA,NaN,NaN,NaN
860948,"(-32.012435, 115.863171)",-32.012435,115.863171,AU,WA,NaN,NaN,NaN
860949,"(-31.710951, 115.794734)",-31.710951,115.794734,AU,WA,NaN,NaN,NaN
860950,"(-31.734962, 115.77177)",-31.734962,115.771770,AU,WA,NaN,NaN,NaN

In [48]:
merge_crash_date_df = pd.merge(crash_df,clean_datetime_df,on="date_time_id",how="inner")
merge_crash_date_df

,crash_id,lat_long,date_time_id,description_id,vehicles_id,casualties_id,Unnamed: 0,year,month,day_of_week,day_of_month,hour,approximate
0,SA2015-1-21/08/2019,"(-34.74885571956653, 138.66678305982683)",2015-1--3-13,55666,1c1T,1c1m,55666,2015,1.0,3.0,NaN,13.0,True
1,SA2015-711-21/08/2019,"(-34.91403408062608, 138.64046144828816)",2015-1--3-13,56376,1c1w,0c,55666,2015,1.0,3.0,NaN,13.0,True
2,SA2015-1220-21/08/2019,"(-34.78902768443172, 138.69683655195664)",2015-1--3-13,56885,2c1w,0c,55666,2015,1.0,3.0,NaN,13.0,True
3,QLD277007,"(-27.464934, 153.029545)",2015-1--3-13,1003836,2c,3c3m,55666,2015,1.0,3.0,NaN,13.0,True
4,QLD244073,"(-27.556996, 152.931601)",2015-1--3-13,1037459,2c,1c1m,55666,2015,1.0,3.0,NaN,13.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
460287,ACT1136698,"('-35.24060549567644', '149.05333423411497')",2016-6-6-1-3,1518983,NaN,NaN,1518983,2016,6.0,1.0,6.0,3.0,False
460288,ACT1167454,"('-35.24196308698188', '149.06166218678794')",2017-9-1-5-20,1519142,NaN,NaN,1519142,2017,9.0,5.0,1.0,20.0,False
460289,ACT1205806,"('-35.314614872234905', '149.02675390781653')",2019-4-30-2-4,1519163,NaN,NaN,1519163,2019,4.0,2.0,30.0,4.0,False
460290,ACT1205907,"('-35.402989375078356', '149.10651175137326')",2019-5-2-4-22,1519218,NaN,NaN,1519218,2019,5.0,4.0,2.0,22.0,False
460291,ACT1164903,"('-35.264825849829116', '149.18715859618888')",2017-8-6-7-23,1519432,NaN,NaN,1519432,2017,8.0,7.0,6.0,23.0,False

In [49]:
merge_crash_date_state_df = pd.merge(merge_crash_date_df,clean_location_df,on="lat_long",how="inner")
merge_crash_date_state_df

,crash_id,lat_long,date_time_id,description_id,vehicles_id,casualties_id,Unnamed: 0,year,month,day_of_week,day_of_month,hour,approximate,latitude,longitude,country,state,local_government_area,statistical_area,suburb
0,WA8912422,"(-32.012631, 115.947456)",2015-1-1-4-0,1343750,1o,NaN,242096,2015,1.0,4.0,1.0,0.0,False,-32.012631,115.947456,AU,WA,NaN,NaN,NaN
1,WA9030342,"(-32.012631, 115.947456)",2015-2-10-2-13,1341646,1b1o,NaN,243675,2015,2.0,2.0,10.0,13.0,False,-32.012631,115.947456,AU,WA,NaN,NaN,NaN
2,WA9104613,"(-32.012631, 115.947456)",2015-7-1-3-16,1356896,2o,NaN,249609,2015,7.0,3.0,1.0,16.0,False,-32.012631,115.947456,AU,WA,NaN,NaN,NaN
3,WA9531365,"(-32.012631, 115.947456)",2017-2-23-4-18,1429279,2o,NaN,273858,2017,2.0,4.0,23.0,18.0,False,-32.012631,115.947456,AU,WA,NaN,NaN,NaN
4,WA9699680,"(-32.012631, 115.947456)",2017-12-12-2-18,1454043,1b1o,NaN,284059,2017,12.0,2.0,12.0,18.0,False,-32.012631,115.947456,AU,WA,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118379,WA9653765,"(-31.51858, 116.457295)",2017-11-7-2-3,1457821,1o,NaN,1457821,2017,11.0,2.0,7.0,3.0,False,-31.518580,116.457295,AU,WA,NaN,NaN,NaN
118380,WA9693150,"(-31.902763, 115.860965)",2017-11-11-6-23,1457841,1o,NaN,1457830,2017,11.0,6.0,11.0,23.0,False,-31.902763,115.860965,AU,WA,NaN,NaN,NaN
118381,WA9675335,"(-31.932469, 115.888382)",2017-11-11-6-5,1457844,2o,NaN,1457844,2017,11.0,6.0,11.0,5.0,False,-31.932469,115.888382,AU,WA,NaN,NaN,NaN
118382,WA9654614,"(-33.707034, 121.58763)",2017-10-24-2-0,1457913,1o,NaN,1457913,2017,10.0,2.0,24.0,0.0,False,-33.707034,121.587630,AU,WA,NaN,NaN,NaN
118383,WA9701819,"(-32.14716, 115.860083)",2017-12-15-5-12,1457935,2o,NaN,1457935,2017,12.0,5.0,15.0,12.0,False,-32.147160,115.860083,AU,WA,NaN,NaN,NaN

In [50]:
main_data = merge_crash_date_state_df
main_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118384 entries, 0 to 118383
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   crash_id               118384 non-null  object
 1   lat_long               118384 non-null  object
 2   date_time_id           118384 non-null  object
 3   description_id         118384 non-null  int64
 4   vehicles_id            116094 non-null  object
 5   casualties_id          0 non-null       object
 6   Unnamed: 0             118384 non-null  int64
 7   year                   118384 non-null  int64
 8   month                  118384 non-null  float64
 9   day_of_week            118384 non-null  float64
 10  day_of_month           118384 non-null  float64
 11  hour                   118384 non-null  float64
 12  approximate            118384 non-null  bool
 13  latitude               118384 non-null  float64
 14  longitude              118384 non-null  float64
 15  country                118384 non-null  object
 16  state                  118384 non-null  object
 17  local_government_area  0 non-null       object
 18  statistical_area       0 non-null       object
 19  suburb                 0 non-null       object
dtypes: bool(1), float64(6), int64(3), object(10)
memory usage: 18.2+ MB

In [51]:
main_data = pd.merge(main_data,description_df,on="description_id",how="inner")
main_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118384 entries, 0 to 118383
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   crash_id                  118384 non-null  object
 1   lat_long                  118384 non-null  object
 2   date_time_id              118384 non-null  object
 3   description_id            118384 non-null  int64
 4   vehicles_id               116094 non-null  object
 5   casualties_id             0 non-null       object
 6   Unnamed: 0_x              118384 non-null  int64
 7   year                      118384 non-null  int64
 8   month                     118384 non-null  float64
 9   day_of_week               118384 non-null  float64
 10  day_of_month              118384 non-null  float64
 11  hour                      118384 non-null  float64
 12  approximate               118384 non-null  bool
 13  latitude                  118384 non-null  float64
 14  longitude                 118384 non-null  float64
 15  country                   118384 non-null  object
 16  state                     118384 non-null  object
 17  local_government_area     0 non-null       object
 18  statistical_area          0 non-null       object
 19  suburb                    0 non-null       object
 20  Unnamed: 0_y              118384 non-null  int64
 21  severity                  118384 non-null  object
 22  speed_limit               0 non-null       object
 23  midblock                  118384 non-null  bool
 24  intersection              118384 non-null  bool
 25  road_position_horizontal  0 non-null       object
 26  road_position_vertical    0 non-null       object
 27  road_sealed               0 non-null       object
 28  road_wet                  0 non-null       object
 29  weather                   0 non-null       object
 30  crash_type                26663 non-null   object
 31  lighting                  0 non-null       object
 32  traffic_controls          0 non-null       object
 33  drugs_alcohol             0 non-null       object
 34  DCA_code                  0 non-null       float64
 35  comment                   0 non-null       object
dtypes: bool(3), float64(7), int64(4), object(22)
memory usage: 31.0+ MB

In [57]:
main_data2 = main_data.dropna(how='all', axis=1)
main_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118384 entries, 0 to 118383
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   crash_id        118384 non-null  object
 1   lat_long        118384 non-null  object
 2   date_time_id    118384 non-null  object
 3   description_id  118384 non-null  int64
 4   vehicles_id     116094 non-null  object
 5   Unnamed: 0_x    118384 non-null  int64
 6   year            118384 non-null  int64
 7   month           118384 non-null  float64
 8   day_of_week     118384 non-null  float64
 9   day_of_month    118384 non-null  float64
 10  hour            118384 non-null  float64
 11  approximate     118384 non-null  bool
 12  latitude        118384 non-null  float64
 13  longitude       118384 non-null  float64
 14  country         118384 non-null  object
 15  state           118384 non-null  object
 16  Unnamed: 0_y    118384 non-null  int64
 17  severity        118384 non-null  object
 18  midblock        118384 non-null  bool
 19  intersection    118384 non-null  bool
 20  crash_type      26663 non-null   object
dtypes: bool(3), float64(6), int64(4), object(8)
memory usage: 17.5+ MB

In [64]:
crash_data = main_data2.drop(["date_time_id","description_id","vehicles_id","Unnamed: 0_x","Unnamed: 0_y","country","state","approximate"],axis=1)

In [66]:
crash_data.head()

,crash_id,lat_long,year,month,day_of_week,day_of_month,hour,latitude,longitude,severity,midblock,intersection,crash_type
0,WA8912422,"(-32.012631, 115.947456)",2015,1.0,4.0,1.0,0.0,-32.012631,115.947456,minor_injury,False,True,NaN
1,WA9030342,"(-32.012631, 115.947456)",2015,2.0,2.0,10.0,13.0,-32.012631,115.947456,property_damage,False,True,NaN
2,WA9104613,"(-32.012631, 115.947456)",2015,7.0,3.0,1.0,16.0,-32.012631,115.947456,property_damage,False,True,NaN
3,WA9531365,"(-32.012631, 115.947456)",2017,2.0,4.0,23.0,18.0,-32.012631,115.947456,property_damage,False,True,NaN
4,WA9699680,"(-32.012631, 115.947456)",2017,12.0,2.0,12.0,18.0,-32.012631,115.947456,property_damage,False,True,NaN

In [67]:
crash_data.to_csv("crash_data.csv")