In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [44]:
# Read in csv file
csv_file = "Resources/Crash_Information__Last_5_Years_.csv"
crash_df = pd.read_csv(csv_file)
crash_df.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 145592 entries, 0 to 145591
Data columns (total 25 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   X                              145592 non-null  float64
 1   Y                              145592 non-null  float64
 2   OBJECTID                       145592 non-null  int64
 3   ACC_ID                         145592 non-null  int64
 4   ROAD_NO                        145592 non-null  object
 5   ROAD_NAME                      145592 non-null  object
 6   COMMON_ROAD_NAME               145592 non-null  object
 7   CWAY                           145592 non-null  object
 8   SLK                            145592 non-null  float64
 9   INTERSECTION_NO                77094 non-null   float64
 10  INTERSECTION_DESC              77094 non-null   object
 11  LONGITUDE                      145592 non-null  float64
 12  LATITUDE                       145592 non-null  float64
 13  CRASH_DATE                     145592 non-null  object
 14  CRASH_TIME                     145124 non-null  float64
 15  ACCIDENT_TYPE                  145592 non-null  object
 16  SEVERITY                       145592 non-null  object
 17  EVENT_NATURE                   137488 non-null  object
 18  EVENT_TYPE                     37065 non-null   object
 19  TOTAL_BIKE_INVOLVED            145592 non-null  int64
 20  TOTAL_TRUCK_INVOLVED           145592 non-null  int64
 21  TOTAL_HEAVY_TRUCK_INVOLVED     145592 non-null  int64
 22  TOTAL_MOTOR_CYCLE_INVOLVED     145592 non-null  int64
 23  TOTAL_OTHER_VEHICLES_INVOLVED  145592 non-null  int64
 24  TOTAL_PEDESTRIANS_INVOLVED     145592 non-null  int64
dtypes: float64(7), int64(8), object(10)
memory usage: 27.8+ MB

In [45]:
# Drop irrelevant columns
cleaned_crash_df = crash_df.drop(["X","Y","OBJECTID","ROAD_NAME","SLK","INTERSECTION_NO","INTERSECTION_DESC"],inplace=False,axis=1)
cleaned_crash_df.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 145592 entries, 0 to 145591
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   ACC_ID                         145592 non-null  int64
 1   ROAD_NO                        145592 non-null  object
 2   COMMON_ROAD_NAME               145592 non-null  object
 3   CWAY                           145592 non-null  object
 4   LONGITUDE                      145592 non-null  float64
 5   LATITUDE                       145592 non-null  float64
 6   CRASH_DATE                     145592 non-null  object
 7   CRASH_TIME                     145124 non-null  float64
 8   ACCIDENT_TYPE                  145592 non-null  object
 9   SEVERITY                       145592 non-null  object
 10  EVENT_NATURE                   137488 non-null  object
 11  EVENT_TYPE                     37065 non-null   object
 12  TOTAL_BIKE_INVOLVED            145592 non-null  int64
 13  TOTAL_TRUCK_INVOLVED           145592 non-null  int64
 14  TOTAL_HEAVY_TRUCK_INVOLVED     145592 non-null  int64
 15  TOTAL_MOTOR_CYCLE_INVOLVED     145592 non-null  int64
 16  TOTAL_OTHER_VEHICLES_INVOLVED  145592 non-null  int64
 17  TOTAL_PEDESTRIANS_INVOLVED     145592 non-null  int64
dtypes: float64(3), int64(7), object(8)
memory usage: 20.0+ MB

In [46]:
cleaned_crash_df=cleaned_crash_df.dropna(subset=['CRASH_TIME'])
cleaned_crash_df['CRASH_TIME'].unique()

array([ 130., 1345., 1230., ...,  337.,  614.,  413.])

In [41]:
cleaned_crash_df['CRASH_TIME'].isnull().values.any()

False

In [47]:
cleaned_crash_df["CRASH_TIME_HRS"] = cleaned_crash_df["CRASH_TIME"].div(100).apply(np.floor).astype(int)
cleaned_crash_df["CRASH_TIME_MIN"] = cleaned_crash_df["CRASH_TIME"].mod(100).astype(int)

In [48]:
cleaned_crash_df

,ACC_ID,ROAD_NO,COMMON_ROAD_NAME,CWAY,LONGITUDE,LATITUDE,CRASH_DATE,CRASH_TIME,ACCIDENT_TYPE,SEVERITY,EVENT_NATURE,EVENT_TYPE,TOTAL_BIKE_INVOLVED,TOTAL_TRUCK_INVOLVED,TOTAL_HEAVY_TRUCK_INVOLVED,TOTAL_MOTOR_CYCLE_INVOLVED,TOTAL_OTHER_VEHICLES_INVOLVED,TOTAL_PEDESTRIANS_INVOLVED,CRASH_TIME_HRS,CRASH_TIME_MIN
0,10034076,1250106,Huntriss Rd,S,115.787126,-31.888018,09/06/2019,130.0,Intersection,Hospital,Right Angle,NaN,0,0,0,0,1,0,1,30
1,10034083,1311665,Joondalup Dr,L,115.781050,-31.770677,09/06/2019,1345.0,Intersection,PDO Major,Rear End,NaN,0,0,0,0,3,0,13,45
2,10036078,1110006,Lord St,S,115.954109,-31.900235,09/06/2019,1230.0,Intersection,PDO Minor,Rear End,NaN,0,0,0,0,2,0,12,30
3,10036129,1300280,Fitzgerald St,S,115.859176,-31.932468,09/06/2019,1115.0,Midblock,PDO Minor,NaN,Involving Parking,0,0,0,0,2,0,11,15
4,10014546,1102151,Connolly Dr,L,115.711603,-31.651690,09/06/2019,1520.0,Intersection,PDO Major,Hit Object,NaN,0,0,0,0,1,0,15,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145587,9828256,H013,Canning Hwy,L,115.808584,-32.032091,13/07/2018,2055.0,Intersection,PDO Major,Right Angle,NaN,0,0,0,0,2,0,20,55
145588,9828289,H035,Charles St,L,115.852651,-31.940140,13/07/2018,1330.0,Intersection,Medical,Rear End,NaN,0,0,0,0,2,0,13,30
145589,9801828,1070031,Currie St,S,115.753142,-32.342408,13/07/2018,1947.0,Midblock,Hospital,Hit Pedestrian,Involving Pedestrian,0,0,0,0,1,1,19,47
145590,9830313,1251035,Herbert St,S,115.777739,-31.890679,13/07/2018,1035.0,Midblock,PDO Major,Rear End,Involving Parking,0,0,0,0,2,0,10,35
145591,9830411,1120138,Croesus St,S,115.921088,-31.884494,13/07/2018,1145.0,Midblock,PDO Major,Right Angle,Involving Parking,0,0,0,0,2,0,11,45

In [50]:
cleaned_crash_df.to_csv("crash_data.csv")